.stats {
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      
  
      svg {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
  
      p {
        color: #504f4f;
        font-size: 14px;
      }
    }
  }